extends ../layouts/default
include ../mixins/breadcrumb
include ../mixins/pagination

block content
	.container
		+breadcrumb()
		.container-fluid
			if posts
				each post in posts.results
					p.row
						.col-md-10: a(href='/post?cid=#{category.id}&pid=#{post.id}')= post.title
						.col-md-2.text-right= post._.publishedAt.format('YYYY-MM-DD')
				+pagination(posts.pages, baseUrl, posts.currentPage, posts.previous, posts.next)
