extends ../layouts/default

block content
	.container
		if categories
			each group in _.chunk(categories, 2)
				.row
					each category in group
						.col-md-6
							.page-header
								h3.container-fluid: p.row= category.name
									small.col-xs-offset-9.text-right: a(href='/category?cid=#{category.id}') 更多
							if posts[category.id]
								ul.list-unstyled.container-fluid
									each post in posts[category.id]
										li: p.row
											a(href='/post?cid=#{category.id}&pid=#{post.id}')= post.title
											span.col-xs-offset-4= post._.publishedAt.format('YYYY-MM-DD')
