extends ../layouts/default
include ../mixins/breadcrumb

block css
	link(href="/styles/post.css", rel="stylesheet")

block content
	.container
		+breadcrumb()
		.page-header.text-center
			h1= post.title
			p: small= post._.publishedAt.format('YYYY-MM-DD HH:mm:ss')
		.container-fluid
			p.post-content!= post.content
		if post.attachments.length
			hr
			.container-fluid: ul.list-inline
				li 附件：
				each attachment in post.attachments
					li
						span.glyphicon.file-icon(class='glyphicon-' + fileicon(attachment.filename))
						a(href='/attachment?pid=#{post.id}&aid=#{attachment.id}')= attachment.originalname
						span= '(' + filesize(attachment.size) + ')'
